.thumb.png
layers/cities
layers/country-labels
layers/country-boundaries
layers/country-outlines
layers/geo-lines
layers/land
layers/lakes
layers/rivers-ca
layers/rivers-na
layers/subcountry-boundaries
layers/urban-areas
